@charset "utf-8";
@import "compass";
@import "mod/reset";
@import "mod/layout";

*{
    box-sizing: border-box;
}
.main{
    .login-panel{
        width: 540px;
        height: 540px;
        position: absolute;
        top: 210px;
        left: 50%;
        margin-left: -270px;
        background-color: white;
        .remember{
            color: #999999;
            .rememberChx{
                -moz-appearance: none;
                -webkit-appearance: none;
                &:before{
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border:solid 1px #999999;
                    border-radius: 2px;
                    position: relative;
                    top: 3px; 
                }
            }
            .rememberChx:checked{
                &:before{
                    content: '\2714';
                    display: inline-block;
                    background-size: 100%;
                    color: #3487e2;
                    width: 14px;
                    height: 14px;
                    border:solid 1px #999999;
                    border-radius: 2px;
                    position: relative;
                    top: 0; 
                    line-height: 14px;
                    text-align: center;
                }
            }
        }
    }
}

